<nav class="navbar navbar-expand-lg navbar-light shadow">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" routerLink=""><i class="fa fa-book" aria-hidden="true"></i></a>
      <ul class="navbar-nav m-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="" routerLinkActive="active">HOME </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/allbook" routerLinkActive="active">ALL BOOKS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/addnew" routerLinkActive="active">ADD NEW</a>
        </li>
      </ul>
      
    </div>
  </nav>